

@font-face {
    font-family: 'Rubik';
    src: url(./assets/fonts/Rubik-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(./assets/fonts/Rubik-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 800;
    font-style: italic;
    font-display: swap;
}

///font variable
$mainFont: "Rubik";


/// color variables
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #626C7F;
$color-grey--light: #F4F6FA;
$color-blue--900: #313E51;
$color-blue--850: #3B4D66;
$color-blue--50: #EBF0FF;
$color-green: #2FD887;
$color-green--light: #E0FDEF;
$color-purple: #A729F5;
$color-purple--light: #F6E7FF;
$color-orange: #FF7E35;
$color-orange--light: #FFF5ED;
$color-red: #EE5454;

//////////////////////////

$transition: all 0.3s;



@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}


@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-none {
    display: none;
}

.toggle-circle--dark-mode {
    left: calc(100% - 3px) !important;
    transform: translate(-100%, -50%) !important;
}


.style-dark-mode {
    color: $color-white;
    background-color: $color-blue--900;

    .sub-h, .question-counter, .questions-number {
        color: $color-blue--50 !important;
    }

    .quiz-topic, .final-result {
        background-color: $color-blue--850 !important;
    }

    .label--inp-radio {
        background-color: $color-blue--850 !important;
        border: 3px solid $color-blue--850 !important;

        &:has(.inp-radio:checked) {
            border: 3px solid $color-purple !important;
            box-sizing: border-box;
        }
    }


}


////////////////////////////////////////////////////////

body {
    font-family: $mainFont;
    color: $color-black;
    padding: 26px 24px;
    box-sizing: border-box;
    background-color: $color-blue--50;
    transition: $transition;

    .main-header {
        max-width: 640px;
        margin: auto;
        @include flex-row();
        justify-content: end;

        .theme-toggle-container {
            @include flex-row();
            gap: 8px;

            .icon-toggle {
                width: 16px;
                height: 16px;
            }

            .btn-theme-toggle {
                width: 32px;
                height: 20px;
                background-color: $color-purple;
                border-radius: 10px;
                position: relative;
                border: none;
                outline: none;
                cursor: pointer;

                .toggle-circle {
                    width: 12px;
                    height: 12px;
                    background-color: $color-white;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 3px;
                    // left: calc(100% - 3px);
                    // transform: translate(-100%, -50%);
                    transform: translateY(-50%);
                    transition: $transition;
                }
            }
        }


    }

    .main-section {
        max-width: 640px;
        margin: auto;
        margin-top: 64px;

        .section--start-menu{
            header {
                margin-bottom: 40px;

                h1 {
                    font-size: 40px;
                    font-weight: 100;
                    margin-bottom: 27px;

                    b {
                        display: block;
                        font-weight: 400;
                    }
                }

                .sub-h {
                    font-size: 16px;
                    color: $color-grey;
                    font-style: italic;
                    transition: $transition;
                }
            }

            .quiz-topics-list {

                @include flex-column();
                gap: 8px;

                .quiz-topic {
                    background-color: $color-white;
                    width: 100%;
                    @include flex-row();
                    gap: 8px;
                    border-radius: 5px;
                    padding: 16px;
                    box-sizing: border-box;
                    transition: $transition;

                    cursor: pointer;

                    .quiz-topic--name {
                        font-size: 18px;
                        font-weight: 400;
                    }

                    .quiz-topic--icon {
                        width: 40px;
                        height: 40px;
                        @include flex-column();
                        justify-content: center;
                        border-radius: inherit;

                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }

                    .quiz-topic--icon-html {
                        background-color: $color-orange--light;
                    }

                    .quiz-topic--icon-css {
                        background-color: $color-green--light;
                    }

                    .quiz-topic--icon-js {
                        background-color: $color-blue--50;
                    }

                    .quiz-topic--icon-accessibility {
                        background-color: $color-purple--light;
                    }

                }
            }
        }

        .section--question {
            header {
                margin-bottom: 40px;

                .question-counter {
                    font-size: 16px;
                    color: $color-grey;
                    font-style: italic;
                    transition: $transition;
                    display: block;
                    margin-bottom: 26px;
                }

                .question {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 25px;
                    height: 96px;
                }

                /// Base styles for ALL browsers
                #quiz-progress {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none;
                    width: 100%;
                    height: 16px;
                    border-radius: 10px;
                    
                    /// Firefox 
                    background-color: $color-white; 
                    padding: 4px;
                    box-sizing: border-box;
                }

                /// Chrome, Safari, Edge - Track Styling
                #quiz-progress::-webkit-progress-bar {
                    background-color: $color-white;
                    border-radius: 10px;
                }

                //// Chrome, Safari, Edge - Progress Value Styling
                #quiz-progress::-webkit-progress-value {
                    background-color: $color-purple;
                    border-radius: 10px;
                }

                /// Firefox - Progress Value Styling
                #quiz-progress::-moz-progress-bar {
                    background-color: $color-purple;
                    border-radius: 10px;
                }
            }

            .answers-list {
                margin-bottom: 16px;
                @include flex-column();
                gap: 16px;

                .answer-container {
                    width: 100%;
                    border-radius: 10px;

                    .label--inp-radio {
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-color: $color-white;
                        border: 3px solid $color-white;
                        padding: 16px;
                        box-sizing: border-box;

                        @include flex-row();
                        justify-content: space-between;
                        border-radius: inherit;
                        transition: all 0.2s;

                        cursor: pointer;

                        &:has(.inp-radio:checked) {
                            border: 3px solid $color-purple;
                            box-sizing: border-box
                        }

                        .input-container {

                            @include flex-row();
                            gap: 16px;

                            .inp-radio {
                                width: 40px;
                                height: 40px;
                                position: relative;
                            }

                            .inp-radio::after {
                                content: "";
                                z-index: 1;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                background-color: $color-grey--light;
                                border-radius: 5px;
                                left: 0;
                                top: 0;
                                transition: 0.2s;
                            }

                            .inp-radio::before {
                                content: "";
                                position: absolute;
                                z-index: 2;
                                display: block;
                                font-size: 24px;
                                font-weight: 500;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: $color-grey;
                                transition: 0.2s;
                            }

                            .inp-radio:checked::after {
                                background-color: $color-purple;
                            }

                            .inp-radio:checked::before {
                                color: $color-white;
                            }

                            #answer-1::before {
                                content: "A";
                            }

                            #answer-2::before {
                                content: "B";
                            }

                            #answer-3::before {
                                content: "C";
                            }

                            #answer-4::before {
                                content: "D";
                            }

                            .answer {
                                font-size: 18px;
                                font-weight: 500;
                            }
                        }

                        .correct-wrong--icons {
                            .icon-checked {
                                width: 32px;
                                height: 32px;
                            }
                        }
                    }


                }
            }

            .btn-submit {
                width: 100%;
                height: 56px;
                border: none;
                outline: none;
                background-color: $color-purple;
                border-radius: 10px;
                color: $color-white;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }
        }

        .section--quiz-completed {

            h1 {
                font-size: 40px;
                font-weight: 300;
                margin-bottom: 45px;

                b {
                    display: block;
                    font-weight: 400;
                }
            }

            .final-result {
                text-align: center;
                background-color: $color-white;
                padding: 32px 80px;
                box-sizing: border-box;
                border-radius: 10px;
                margin-bottom: 16px;

                .final-result--topic {
                    @include flex-row();
                    justify-content: center;
                    gap: 8px;
                    margin-bottom: 28px;
                    
                    .img-container {
                        width: 40px;
                        height: 40px;
                        background-color: $color-purple--light;
                        @include flex-column();
                        justify-content: center;
                        border-radius: 5px;
                        
                        img {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    span {
                        font-size: 18px;
                        font-weight: 400;
                    }
                }

                .final-scroe {
                    display: block;
                    font-size: 80px;
                    margin-bottom: 30px;
                }

                .questions-number {
                    font-size: 16px;
                    color: $color-grey;
                    font-style: italic;
                    transition: $transition;
                }
            }

            .btn-submit {
                width: 100%;
                height: 56px;
                border: none;
                outline: none;
                background-color: $color-purple;
                border-radius: 10px;
                color: $color-white;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }

        }
        
    }
}



@media (min-width: 740px) {

    body {

        .main-header {
            .theme-toggle-container {
                gap: 19px;

                .icon-toggle {
                    width: 21px;
                    height: 21px;
                }

                .btn-theme-toggle {
                    width: 48px;
                    height: 28px;
                    border-radius: 20px;

                    .toggle-circle {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        .main-section {
            margin-top: 56px;

            .section--start-menu {
                header {
                    margin-bottom: 68px;

                    h1 {
                        font-size: 50px;
                    }

                    .sub-h {
                        font-size: 20px;
                    }
                }

                .quiz-topics-list {
                    gap: 24px;

                    .quiz-topic {
                        gap: 34px;

                        .quiz-topic--name {
                            font-size: 22px;
                        }

                        .quiz-topic--icon {
                            width: 56px;
                            height: 56px;

                            img {
                                width: 35px;
                                height: 35px;
                            }
                        }
                    }

                }
                
            }

            .section--question {

                header {
                    margin-bottom: 68px;

                    .question-counter {
                        font-size: 20px;
                    }

                    .question {
                        font-size: 22px;
                    }
                }

                .answers-list {
                    margin-bottom: 32px;
                    gap: 24px;

                    .answer-container {

                        .label--inp-radio {
                            .input-container {
                                gap: 32px;

                                .inp-radio {
                                    width: 56px;
                                    height: 56px;
                                }
                            }

                            .correct-wrong--icons {
                                .icon-checked {
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                        }
                    }
                }

                .btn-submit {
                    height: 92px;
                    font-size: 20px;
                }
            }

            .section--quiz-completed {
                h1 {
                    font-size: 50px;
                    margin-bottom: 50px;
                }

                .final-result {
                    padding: 48px 80px;
                    margin-bottom: 32px;

                    .final-result--topic {
                        gap: 25px;
                        margin-bottom: 60px;

                        .img-container {
                            width: 56px;
                            height: 56px;

                            img {
                                width: 35px;
                                height: 35px;
                            }
                        }

                        span {
                            font-size: 22px;
                        }
                    }

                    .final-scroe {
                        font-size: 100px;
                        margin-bottom: 50px;
                    }

                    .questions-number {
                        font-size: 20px;
                    }

                }

                .btn-submit {
                    height: 92px;
                    font-size: 20px;
                }
            }


        }

    }
}
