

@font-face {
    font-family: 'Rubik';
    src: url(./assets/fonts/Rubik-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

///font variable
$mainFont: "Rubiky";


/// color variables
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #626C7F;
$color-grey--light: #F4F6FA;
$color-blue--900: #313E51;
$color-blue--850: #3B4D66;
$color-blue--50: #EBF0FF;
$color-green: #2FD887;
$color-green--light: #E0FDEF;
$color-purple: #A729F5;
$color-purple--light: #F6E7FF;
$color-orange: #FF7E35;
$color-orange--light: #FFF5ED;
$color-red: #EE5454;



@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}


@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-none {
    display: none;
}


////////////////////////////////////////////////////////

body {
    font-family: $mainFont, 'sans-serif';
    color: $color-black;
    padding: 26px 24px;
    box-sizing: border-box;
    background-color: $color-blue--50;

    .main-header {
        max-width: 640px;
        margin: auto;
        @include flex-row();
        justify-content: end;

        .theme-toggle-container {
            @include flex-row();
            gap: 8px;

            .icon-toggle {
                width: 16px;
                height: 16px;
            }

            .theme-toggle {
                width: 32px;
                height: 20px;
                background-color: $color-purple;
                border-radius: 10px;
                position: relative;
                border: none;
                outline: none;
                cursor: pointer;

                .toggle-cyrcle {
                    width: 12px;
                    height: 12px;
                    background-color: $color-white;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 3px;
                    transform: translateY(-50%);
                }
            }
        }
    }
}
