

@font-face {
    font-family: 'Rubik';
    src: url(./assets/fonts/Rubik-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url(./assets/fonts/Rubik-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 800;
    font-style: italic;
    font-display: swap;
}

///font variable
$mainFont: "Rubik";


/// color variables
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #626C7F;
$color-grey--light: #F4F6FA;
$color-blue--900: #313E51;
$color-blue--850: #3B4D66;
$color-blue--50: #EBF0FF;
$color-green: #2FD887;
$color-green--light: #E0FDEF;
$color-purple: #A729F5;
$color-purple--light: #F6E7FF;
$color-orange: #FF7E35;
$color-orange--light: #FFF5ED;
$color-red: #EE5454;

//////////////////////////

$transition: all 0.3s;



@mixin flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}


@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-none {
    display: none;
}

.toggle-circle--dark-mode {
    left: calc(100% - 3px) !important;
    transform: translate(-100%, -50%) !important;
}

// .body--dark-mode {
//     color: $color-white;
//     background-color: $color-blue--900;
// }

// .sub-h--dark-mode {
//     color: $color-blue--50 !important;
// }

// .quiz-topic--dark-mode {
//     background-color: $color-blue--850 !important;
// }

.style-dark-mode {
    color: $color-white;
    background-color: $color-blue--900;

    .sub-h {
        color: $color-blue--50 !important;
    }

    .quiz-topic {
        background-color: $color-blue--850 !important;
    }
}


////////////////////////////////////////////////////////

body {
    font-family: $mainFont;
    color: $color-black;
    padding: 26px 24px;
    box-sizing: border-box;
    background-color: $color-blue--50;
    transition: $transition;

    .main-header {
        max-width: 640px;
        margin: auto;
        @include flex-row();
        justify-content: end;

        .theme-toggle-container {
            @include flex-row();
            gap: 8px;

            .icon-toggle {
                width: 16px;
                height: 16px;
            }

            .btn-theme-toggle {
                width: 32px;
                height: 20px;
                background-color: $color-purple;
                border-radius: 10px;
                position: relative;
                border: none;
                outline: none;
                cursor: pointer;

                .toggle-circle {
                    width: 12px;
                    height: 12px;
                    background-color: $color-white;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 3px;
                    // left: calc(100% - 3px);
                    // transform: translate(-100%, -50%);
                    transform: translateY(-50%);
                    transition: $transition;
                }
            }
        }


    }

    .main-section {
        max-width: 640px;
        margin: auto;
        margin-top: 64px;

        .section--start-menu{
            header {
                margin-bottom: 40px;

                h1 {
                    font-size: 40px;
                    font-weight: 100;
                    margin-bottom: 27px;

                    b {
                        display: block;
                        font-weight: 400;
                    }
                }

                .sub-h {
                    font-size: 16px;
                    color: $color-grey;
                    font-style: italic;
                    transition: $transition;
                }
            }

            .quiz-topics-list {

                @include flex-column();
                gap: 8px;

                .quiz-topic {
                    background-color: $color-white;
                    width: 100%;
                    @include flex-row();
                    gap: 8px;
                    border-radius: 5px;
                    padding: 16px;
                    box-sizing: border-box;
                    transition: $transition;

                    cursor: pointer;

                    .quiz-topic--name {
                        font-size: 18px;
                        font-weight: 400;
                    }

                    .quiz-topic--icon {
                        width: 40px;
                        height: 40px;
                        @include flex-column();
                        justify-content: center;
                        border-radius: inherit;

                        img {
                            width: 25px;
                            height: 25px;
                        }
                    }

                    .quiz-topic--icon-html {
                        background-color: $color-orange--light;
                    }

                    .quiz-topic--icon-css {
                        background-color: $color-green--light;
                    }

                    .quiz-topic--icon-js {
                        background-color: $color-blue--50;
                    }

                    .quiz-topic--icon-accessibility {
                        background-color: $color-purple--light;
                    }

                }
            }
        }

        
    }
}
