@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url(./assets/fonts/Rubik-Italic-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}
.display-none {
  display: none;
}

.toggle-circle--dark-mode {
  left: calc(100% - 3px) !important;
  transform: translate(-100%, -50%) !important;
}

.style-dark-mode {
  color: #FFFFFF;
  background-color: #313E51;
}
.style-dark-mode .sub-h, .style-dark-mode .question-counter, .style-dark-mode .questions-number {
  color: #EBF0FF !important;
}
.style-dark-mode .quiz-topic, .style-dark-mode .final-result {
  background-color: #3B4D66 !important;
}
.style-dark-mode .label--inp-radio {
  background-color: #3B4D66 !important;
  border: 3px solid #3B4D66 !important;
}
.style-dark-mode .label--inp-radio:has(.inp-radio:checked) {
  border: 3px solid #A729F5 !important;
  box-sizing: border-box;
}

body {
  font-family: "Rubik";
  color: #000000;
  padding: 26px 24px;
  box-sizing: border-box;
  background-color: #EBF0FF;
  transition: all 0.3s;
}
body .main-header {
  max-width: 640px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
body .main-header .theme-toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
body .main-header .theme-toggle-container .icon-toggle {
  width: 16px;
  height: 16px;
}
body .main-header .theme-toggle-container .btn-theme-toggle {
  width: 32px;
  height: 20px;
  background-color: #A729F5;
  border-radius: 10px;
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
}
body .main-header .theme-toggle-container .btn-theme-toggle .toggle-circle {
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.3s;
}
body .main-section {
  max-width: 640px;
  margin: auto;
  margin-top: 64px;
}
body .main-section .section--start-menu header {
  margin-bottom: 40px;
}
body .main-section .section--start-menu header h1 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 27px;
}
body .main-section .section--start-menu header h1 b {
  display: block;
  font-weight: 400;
}
body .main-section .section--start-menu header .sub-h {
  font-size: 16px;
  color: #626C7F;
  font-style: italic;
  transition: all 0.3s;
}
body .main-section .section--start-menu .quiz-topics-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
body .main-section .section--start-menu .quiz-topics-list .quiz-topic {
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  padding: 16px;
  box-sizing: border-box;
  transition: all 0.3s;
  cursor: pointer;
}
body .main-section .section--start-menu .quiz-topics-list .quiz-topic .quiz-topic--name {
  font-size: 18px;
  font-weight: 400;
}
body .main-section .section--start-menu .quiz-topics-list .quiz-topic .quiz-topic--icon {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}
body .main-section .section--start-menu .quiz-topics-list .quiz-topic .quiz-topic--icon img {
  width: 25px;
  height: 25px;
}
body .main-section .section--start-menu .quiz-topics-list .quiz-topic .quiz-topic--icon-html {
  background-color: #FFF5ED;
}
body .main-section .section--start-menu .quiz-topics-list .quiz-topic .quiz-topic--icon-css {
  background-color: #E0FDEF;
}
body .main-section .section--start-menu .quiz-topics-list .quiz-topic .quiz-topic--icon-js {
  background-color: #EBF0FF;
}
body .main-section .section--start-menu .quiz-topics-list .quiz-topic .quiz-topic--icon-accessibility {
  background-color: #F6E7FF;
}
body .main-section .section--question header {
  margin-bottom: 40px;
}
body .main-section .section--question header .question-counter {
  font-size: 16px;
  color: #626C7F;
  font-style: italic;
  transition: all 0.3s;
  display: block;
  margin-bottom: 26px;
}
body .main-section .section--question header .question {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  height: 96px;
}
body .main-section .section--question header #quiz-progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 16px;
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 4px;
  box-sizing: border-box;
}
body .main-section .section--question header #quiz-progress::-webkit-progress-bar {
  background-color: #FFFFFF;
  border-radius: 10px;
}
body .main-section .section--question header #quiz-progress::-webkit-progress-value {
  background-color: #A729F5;
  border-radius: 10px;
}
body .main-section .section--question header #quiz-progress::-moz-progress-bar {
  background-color: #A729F5;
  border-radius: 10px;
}
body .main-section .section--question .answers-list {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
body .main-section .section--question .answers-list .answer-container {
  width: 100%;
  border-radius: 10px;
}
body .main-section .section--question .answers-list .answer-container .label--inp-radio {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border: 3px solid #FFFFFF;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: inherit;
  transition: all 0.2s;
  cursor: pointer;
}
body .main-section .section--question .answers-list .answer-container .label--inp-radio:has(.inp-radio:checked) {
  border: 3px solid #A729F5;
  box-sizing: border-box;
}
body .main-section .section--question .answers-list .answer-container .label--inp-radio .input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
body .main-section .section--question .answers-list .answer-container .label--inp-radio .input-container .inp-radio {
  width: 40px;
  height: 40px;
  position: relative;
}
body .main-section .section--question .answers-list .answer-container .label--inp-radio .input-container .inp-radio::after {
  content: "";
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #F4F6FA;
  border-radius: 5px;
  left: 0;
  top: 0;
  transition: 0.2s;
}
body .main-section .section--question .answers-list .answer-container .label--inp-radio .input-container .inp-radio::before {
  content: "";
  position: absolute;
  z-index: 2;
  display: block;
  font-size: 24px;
  font-weight: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #626C7F;
  transition: 0.2s;
}
body .main-section .section--question .answers-list .answer-container .label--inp-radio .input-container .inp-radio:checked::after {
  background-color: #A729F5;
}
body .main-section .section--question .answers-list .answer-container .label--inp-radio .input-container .inp-radio:checked::before {
  color: #FFFFFF;
}
body .main-section .section--question .answers-list .answer-container .label--inp-radio .input-container #answer-1::before {
  content: "A";
}
body .main-section .section--question .answers-list .answer-container .label--inp-radio .input-container #answer-2::before {
  content: "B";
}
body .main-section .section--question .answers-list .answer-container .label--inp-radio .input-container #answer-3::before {
  content: "C";
}
body .main-section .section--question .answers-list .answer-container .label--inp-radio .input-container #answer-4::before {
  content: "D";
}
body .main-section .section--question .answers-list .answer-container .label--inp-radio .input-container .answer {
  font-size: 18px;
  font-weight: 500;
}
body .main-section .section--question .answers-list .answer-container .label--inp-radio .correct-wrong--icons .icon-checked {
  width: 32px;
  height: 32px;
}
body .main-section .section--question .btn-submit {
  width: 100%;
  height: 56px;
  border: none;
  outline: none;
  background-color: #A729F5;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
body .main-section .section--quiz-completed h1 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 45px;
}
body .main-section .section--quiz-completed h1 b {
  display: block;
  font-weight: 400;
}
body .main-section .section--quiz-completed .final-result {
  text-align: center;
  background-color: #FFFFFF;
  padding: 32px 80px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 16px;
}
body .main-section .section--quiz-completed .final-result .final-result--topic {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 28px;
}
body .main-section .section--quiz-completed .final-result .final-result--topic .img-container {
  width: 40px;
  height: 40px;
  background-color: #F6E7FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
body .main-section .section--quiz-completed .final-result .final-result--topic .img-container img {
  width: 30px;
  height: 30px;
}
body .main-section .section--quiz-completed .final-result .final-result--topic span {
  font-size: 18px;
  font-weight: 400;
}
body .main-section .section--quiz-completed .final-result .final-scroe {
  display: block;
  font-size: 80px;
  margin-bottom: 30px;
}
body .main-section .section--quiz-completed .final-result .questions-number {
  font-size: 16px;
  color: #626C7F;
  font-style: italic;
  transition: all 0.3s;
}
body .main-section .section--quiz-completed .btn-submit {
  width: 100%;
  height: 56px;
  border: none;
  outline: none;
  background-color: #A729F5;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 740px) {
  body .main-header .theme-toggle-container {
    gap: 19px;
  }
  body .main-header .theme-toggle-container .icon-toggle {
    width: 21px;
    height: 21px;
  }
  body .main-header .theme-toggle-container .btn-theme-toggle {
    width: 48px;
    height: 28px;
    border-radius: 20px;
  }
  body .main-header .theme-toggle-container .btn-theme-toggle .toggle-circle {
    width: 20px;
    height: 20px;
  }
  body .main-section {
    margin-top: 56px;
  }
  body .main-section .section--start-menu header {
    margin-bottom: 68px;
  }
  body .main-section .section--start-menu header h1 {
    font-size: 50px;
  }
  body .main-section .section--start-menu header .sub-h {
    font-size: 20px;
  }
  body .main-section .section--start-menu .quiz-topics-list {
    gap: 24px;
  }
  body .main-section .section--start-menu .quiz-topics-list .quiz-topic {
    gap: 34px;
  }
  body .main-section .section--start-menu .quiz-topics-list .quiz-topic .quiz-topic--name {
    font-size: 22px;
  }
  body .main-section .section--start-menu .quiz-topics-list .quiz-topic .quiz-topic--icon {
    width: 56px;
    height: 56px;
  }
  body .main-section .section--start-menu .quiz-topics-list .quiz-topic .quiz-topic--icon img {
    width: 35px;
    height: 35px;
  }
  body .main-section .section--question header {
    margin-bottom: 68px;
  }
  body .main-section .section--question header .question-counter {
    font-size: 20px;
  }
  body .main-section .section--question header .question {
    font-size: 22px;
  }
  body .main-section .section--question .answers-list {
    margin-bottom: 32px;
    gap: 24px;
  }
  body .main-section .section--question .answers-list .answer-container .label--inp-radio .input-container {
    gap: 32px;
  }
  body .main-section .section--question .answers-list .answer-container .label--inp-radio .input-container .inp-radio {
    width: 56px;
    height: 56px;
  }
  body .main-section .section--question .answers-list .answer-container .label--inp-radio .correct-wrong--icons .icon-checked {
    width: 40px;
    height: 40px;
  }
  body .main-section .section--question .btn-submit {
    height: 92px;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
